:root {
  --bgcolour: rgba(15,15,15,0.9);
  --buttoncolour: rgba(0, 0, 0, 0.5);
  --buttonhovercolour: rgba(30, 30, 30, 0.65);
}

* {
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 1em;
    scroll-behavior: smooth;
    scroll-padding: 0.5rem;
}

body {
    padding-top: 5em;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 1em;

    text-decoration: none;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/temp.png');
}

h1 {
    font-size: 3em;
}

hr {
    margin: 0.5rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.header-text {
    padding: 1rem;
    margin: 1.5rem;

    border-radius: 0.5rem;
    background-color: var(--bgcolour);
    max-width: 58rem;
    font-size: 1.25rem;

    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.3);
}

.contents-button {
    width: 60rem;
    height: 5rem;

    background-color: var(--bgcolour);
    color: white;

    border-radius: 0.25rem;
    border: none;

    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.5);

}

.contents-button:hover {
    background-color: rgba(30,30,30,0.75);
}

.contents-menu {
    position: relative;
    display: block;
    top: 0.5rem;

    background-color: var(--bgcolour);
    border-radius: 0.25rem;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.3);
}

.dropdown {
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    transform: translateY(-10px);
    transition: opacity 0.25s ease-in-out, transform 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.dropdown.active {
    opacity: 1;
    transform: translateY(0px);
    max-height: 50em;
}

ul {
    padding: 0;
    list-style-position: inside;
}

.contents-list, .activity-sidebar {
    list-style-type: none;
}

li.contents-item > a:hover {
    background-color: rgba(30,30,30,0.7);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

li.contents-item > a {
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
    display: flex;

    padding: 1rem;
    margin: 0.25rem;
    border-radius: 0.2rem;
    
    margin-left: auto;
    margin-right: auto;

    text-decoration: none;
    color: white;
}

.up-button {
    position: fixed;
    bottom: 0;
    right: 2rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.up-button:hover {
    background-color: rgba(10, 10, 10, 0.8);
}

main {
    position: relative;
    top: 1rem;
    width: 61rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.main-section {
    padding: 1rem;
    margin: .75rem;
    text-align: center;

    background-color: var(--bgcolour);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.schedule-content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.schedule-list {
    list-style-type: none;
}

.schedule-saturday {
    grid-column: 1;
}

.schedule-sunday {
    grid-column: 2;
}

.lead-organisers {
    display: flex;
    padding: 0.5rem;
    margin: 0.25rem;
}

.organiser > img {
    max-width: 80%;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.lead-organisers > .organiser > img {
    max-width: 60%;
}

.organisers-content {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0.25rem;
    margin: 0.25rem;
}

.activity-section {
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 0.2rem;

    display: grid;
    grid-template-columns: 20% 80%;
}

.activity-sidebar-button {
    width: 100%;
    grid-column: 1;
    padding: 1rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--buttoncolour);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 1.1rem;
}

.activity-sidebar-button:hover {
    background-color: var(--buttonhovercolour);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.activity-content {
    grid-column: 2;
    padding: 1.5rem;
    margin: 0.2rem;

    opacity: 0;
    overflow: hidden;

    transform: translateX(-1.5rem);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    
}

.activity-content.starter {
    opacity: 1;
    transform: translateX(-1.5rem);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out; 
}

.activity-content.active {
    opacity: 1;
    transform: translateX(0rem);
    max-width: 50em;
}

.faqs-content {
    padding: 0.2rem;
    margin: 0.2rem;
}

.faqs-question {
    width: 100%;
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 0.25rem;
    background-color: var(--buttoncolour);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 1.1rem;
}

.faqs-question:hover {
    background-color: var(--buttonhovercolour);
}

.faqs-answer {
    margin: 0.3rem;
}

.faqs-answer.active {
    /* for smoother animations */
    max-height: 6em;
}

footer {
    width: 97%;
    padding: 1rem;
    margin-top: 2rem;
    background-color: var(--bgcolour);
    
    border-radius: 0.25rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

    font-size: 1.1rem;
}

footer > hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 1.5rem;
    padding: 0.25rem;
}

.footer-links > h3, .footer-credits > h3 {
    font-size: 1.3rem;
}

.footer-links {
    grid-column: 2;
}

.footer-credits {
    grid-column: 3;
}

.privacy-policy {
    align-items: left;
    justify-content: left;
    justify-items: left;
    text-align: left;
    padding: 1.5rem;
    margin: 1.5rem;
}