@media screen and (max-width: 800px) {

div.wrapper {
    width: 100%;
}

ul#nav {
    margin-top: 20px;
}

div.date-container {
    margin-left: 10px;
    margin-right: 10px;
}

div.paragraph-left {
    padding-right: 20%;
}

div.paragraph-right {
    padding-left: 20%;
}

div.paragraph-left h2, div.paragraph-right h2 {
    line-height: 0.9;
}

img.left-img {
    left: -360px;
}

img.right-img {
    right: -440px;
}

}

@media screen and (max-width: 440px) {

div.date-container * {
    font-size: 30pt;
}

}

@media screen and (max-width: 625px) {

ul#nav {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

header h1 img {
    width: 80%;
}

}

@media screen and (max-width: 490px) {

ul#nav {
    flex-wrap: wrap;
    justify-content: center;
}

ul#nav div.dot {
    display: none;
}

ul#nav a {
    margin: 10px;
}

}