language: node_js
# as we're not running unittests, force success return status
script: "/bin/true"
# always want to know when we've had a failed build, or if the status has changed (i.e. a failed build is now passing)
notifications:
  on_success: change
  on_failure: always
  email:
    - jamie@jamietanna.co.uk
    - harrymt@me.com
# currently deploying to Jamie Tanna's heroku account
# references:
# - http://blog.travis-ci.com/2013-07-09-introducing-continuous-deployment-to-heroku/
# - http://docs.travis-ci.com/user/deployment/heroku/#Application-to-deploy
deploy:
  provider: s3
  access_key_id:
    secure: "pzwcl7pBJY4syUsKWdRAfSo58uAD0WAKRkBANg0TQUCgkn4GJWeHfetadI4Ge8RgnYB/ef2AxkkMks4ZQ9o6kDGnkxdqSdz1P1OPxtwQHbaGCD5NE3PPP/H+0LOd8rNgfuAxeItnQPmzVKKMGIcA6+jzRr3HQ5e8udBKAhuZ79Q10SzESj+KE8uJjfRP3ytP6r3JwY9hMIkPyciiQhoXNUcO4/UR586+fWGpiKdlsj53zojkSxMkZdGm5svc6cTfaHT4ZP3OVZUCaWdlNmyiUJA9ySAl8HgH7H0r0pitHikzPfCkY0aPEbIDWNlM4Q2/VWoh8qG06UXDjSM+1CoGI1nmGP5knpCJxaBzYQBQZDgKQynhpnbIlqyLKJJtMN97gj404s+BoIUuJNu8U3EIkpcBVLLU7Vw+z/yPirMhAiJFS3zf2v48zvItRBY5hjxCRKohFeQXjIlu5pRRgSnPZjUvpM79SeyrGunoZ3dqduFfSglAxn9mGRb/35CNFqRhlUUBdm0KCr8mzeXL9zS8dxV8hUojnHQJVzdKoiDMYwlaLQDxjjHBk7/xjLbwnPHhEw8MEzDxcxhVn83CsxzAwHEkJiA3fK+d9JuObyiAOu45cY1Ev6heX/wuuTOXypFjliDFenVpEQz4jq3Zqhom9Cm4t3ChXSM8qCuTAZrcJo8="
  secret_access_key:
    secure: "JN1NwvJqCPlcSd8t6pCzzDVJwrNfNGwd76UBDVbbZJGQlMb4OdydI5aE65lhFDuHYcT/B2CA4bKUnHHRc2ZTRz9OdKGbDaLjb0vBidpnihUDvIAdCQ/xJerSNlnnhCBvLv/XhUqHivIURCbXFQMMQBeECbOUWsheFa1QYiKpAEPRpi6o600cjGStjPTveNAn/K0AvcbKzhLO8etKga7eD0aJvgA+bwoWszLonNJOFCJV/nHCGZKyptqHEAYbZWc5Y3AFJeKnj7Z8QAL0Mj9UE/LAmdsxnVhQ3h0Yt/9wqXiFKZX6akWM9o2unSYWdbmzTNRGoHSJ82hya/fSY58jgHCmr8/uSPoC28TyeMa1vm9Vu0ZilO/97gifETVkAUl4yPiUxyCU1E82O0H1SuvKYpj8BFiioHjlFnxfLXqjzt3NqSENdPmxmdwikQUov/V3NsJeDJMlnboxdQXjfQ0I2V6pPOiWk7fnwygQtqTv3Tbb8mQZ8CatMc9Mcw6jHHlFIcr4KIKqm2m10y2Jhq4vxsgXJDhoMufvGbCwf+AE2n6/Y7I70juTdcS/gpa9W1zMifL3wFrG3Rs+MhoaM6zAiLjzp1Zeo6ygqvlh/Oxif0k15gZHVUj7JLjUk0ZKt8bvOlEGhb5ijf52yJq2bMFPtSMlJSHOp9txwubKC/sNujY="
  bucket: "hacknotts.com"
  acl: public_read
  region: eu-west-1
  on:
    branch: prod

before_install:
  - gem install sass
  - npm install
  - grunt

# http://stackoverflow.com/a/33856850
before_deploy:
  - rvm 1.9.3 do gem install mime-types -v 2.6.2
