
// --------
// BASE
// --------

body {
    background-color: #000;
    color: #fff;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    letter-spacing: .5px;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 35px;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 25px;
}

@media(min-width: 767px) {
    p {
        font-size: 20px;
        line-height: 1.6;
        margin: 0 0 35px;
    }
}

a {
    color: #59bb1a;
    text-decoration: underline;
}

a:hover {
    color: #295010;
}

section {
    padding-top: 70px;
    padding-bottom: 70px;
}

table {
    margin: 0 auto;
    width: 90%;

    tr {
        th {
            background: #59bb1a;
            color: #000;
            font-size: 20px;
            padding: 10px;
            text-align: center;
            width: 50%;
        }

        td {
            font-size: 20px;
            padding: 15px 10px;
            text-align: left;

            span {
                display: inline-block;
                min-width: 80px;
                text-align: left;
            }
        }
    }

    tr:nth-child(odd) td:first-child,
    tr:nth-child(odd) td:last-child {
        background: #333;
    }
}

.clear {
    clear: both;
}

.light {
    font-weight: 400;
}

.btn {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding: 8px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-success {
    background-color: #66cc36;
    border-color: #5ace5a;
}

// .btn-default {
//     background-color: transparent;
//     border: 1px solid #219ab3;
//     color: #219ab3;
// }

// .btn-default:hover,
// .btn-default:focus {
//     background-color: #219ab3;
//     border: 1px solid #219ab3;
//     color: #000;
//     outline: 0;
// }

