
// --------
// COVER
// --------

.intro {
    background-color: #fff;
    background-image: url('img/background.jpg');
    background-size: cover;
    color: #fff;
    display: table;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;

    .intro-body {
        display: table-cell;
        vertical-align: middle;

        img {
            width: 60%;
        }

        .brand-heading {
            font-size: 40px;
        }

        .intro-text {
            border-radius: 25px;
            color: #000;
            font-size: 18px;
            font-weight: bold;

            u {
                border-bottom: 3px groove #fff;
                color: #54b526;
                padding-bottom: 2px;
                text-decoration: none;
            }
        }

        .intro-venue {
            background-color: rgba(255, 255, 255, .82);
            border-radius: 2px;
            color: #4e4e4e;
            display: block;
            font-size: 15px;
            line-height: 1.2em;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            text-decoration: none;
            width: 30%;
        }

        .intro-buttons {
            padding-top: 15px;

            a {
                margin: 10px;
            }
        }
    }
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;

        .intro-body {
            .brand-heading {
                font-size: 100px;
            }

            .intro-text {
                font-size: 21px;
                padding: 0 150px;
            }
        }
    }
}

@media(max-width: 767px) {
    .intro .intro-body {

        img {
            padding-top: 50px;
            width: 100%;
        }

        .intro-buttons {
            padding-top: 0;
        }

        .intro-venue {
            width: 55%;
        }
    }

}

