

// --------
// COVER
// --------

.intro {
    background-color: #fff;
    background-image: url('img/background.jpg');
    background-size: cover;
    color: #fff;
    display: table;
    height: 100%;
    padding: 100px 0;
    position: relative;
    text-align: center;
    width: 100%;

    .intro-body {
        display: table-cell;
        vertical-align: middle;

        img {
            width: 60%;
        }

        .brand-heading {
            font-size: 40px;
        }

        .intro-text {
            border-radius: 25px;
            color: #000;
            font-size: 18px;
            font-weight: bold;

            u {
                border-bottom: 3px groove #fff;
                color: #54b526;
                padding-bottom: 2px;
                text-decoration: none;
            }
        }
    }
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;

        .intro-body {
            .brand-heading {
                font-size: 100px;
            }

            .intro-text {
                font-size: 28px;
            }
        }
    }
}

@media(max-width: 767px) {
    .intro .intro-body {

        img {
            width: 80%;
        }
    }
}

