
// --------
// FAQ
// --------

.faq-section {
    background: url('assets/img/downloads-bg2.jpg') no-repeat center center scroll;
    background-color: #000;
    background-position: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 50px 0;
    width: 100%;
}


h3.faq {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 5px;
    text-align: left;
}


p.faq {
    font-size: 15px;
    text-align: left;
}


