
// --------
// FOOTER
// --------

footer {
    padding: 50px 0;

    p {
        margin: 0;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: #fff;
        text-decoration: underline;
    }
}
