// --------
// NAVBAR
// --------

.top-nav-collapse img {
  display: block !important;
}

.top-nav-collapse.navbar-custom a {
  color: #fff;
}

.navbar-custom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;

  .navbar-brand {
    font-weight: 700;

    img {
      // Logo
      display: none;
      margin-top: -20px;
    }

    span {
      color: #59bb1a;
    }

    .navbar-toggle {
      color: #fff;
      font-size: 16px;
      padding: 4px 6px;
    }

    .navbar-toggle:active {
      outline: 0;
    }
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .nav {
    .active {
      background-color: rgba(0, 0, 0, 0.3);
      outline: none;

      a {
        color: #59bb1a;
      }
    }

    li {
      a {
        -moz-transition: background 0.3s ease-in-out;
        -webkit-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;

        text-decoration: none;
      }

      a:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

      a:focus {
        background-color: transparent;
      }
    }
  }
}

@media (min-width: 767px) {
  .navbar {
    background: 0 0;
    border-bottom: 0;
    letter-spacing: 1px;
    padding: 20px 0;
    -moz-transition: background 0.3s ease-in-out, padding 0.1s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out, padding 0.1s ease-in-out;
    transition: background 0.3s ease-in-out, padding 0.1s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    background-color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 767px) {
  #mlh-trust-badge {
    margin-right: 20px;
  }

  .navbar-custom {
    background-color: #000;

    a {
      color: #fff !important;
    }

    .navbar-brand img {
      display: block !important;
      margin-top: -16px;
    }
  }
}
