
// --------
// NAVBAR
// --------

.top-nav-collapse img {
    display: block !important;
}

.navbar-custom {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;

    .navbar-brand {
        font-weight: 700;

        img { // Logo
            display: none;
            margin-top: -20px;
        }

        span {
            color: #59bb1a;
        }

        .navbar-toggle {
            color: #fff;
            font-size: 16px;
            padding: 4px 6px;
        }

        .navbar-toggle:active,
        .navbar-toggle:focus {
            outline: 0;
        }
    }

    .navbar-brand:focus {
        outline: 0;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .nav {
        .active {
            background-color: rgba(0, 0, 0, .3);
            outline: none;

            a {
                color: #59bb1a;
            }
        }

        li {
            a {
                -moz-transition: background .3s ease-in-out;
                -webkit-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;

                text-decoration: none;
            }

            a:hover,
            a:focus,
            a.active {
                background-color: rgba(0, 0, 0, .3);
            }
        }
    }
}

@media(min-width: 767px) {
    .navbar {
        background: 0 0;
        border-bottom: 0;
        letter-spacing: 1px;
        padding: 20px 0;
        -moz-transition: background .3s ease-in-out,padding .1s ease-in-out;
        -webkit-transition: background .3s ease-in-out,padding .1s ease-in-out;
        transition: background .3s ease-in-out,padding .1s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

    .navbar-custom.top-nav-collapse {
        background-color: #000;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
}
