
// --------
// SPONSOR
// --------

a.image:hover {
    opacity: .8;
}

// Sponsor
.image img {
    border-radius: 0.5em;
    display: block;
    width: 100%;
}

.image.fit {
    display: block;
    width: 100%;
}

.\34 u,
.\34 u\24 {
    clear: none;
    margin-left: 0;
    padding: 25px 0 0 25px;
    position: relative; // required so that we can have the push_ class
    width: 33.3333333333%;
}

.push_\34u {
    left: 33.3333333333%;
}

.pushlow_\34u {
    left: 16.666666666%;
}


.sponsors {
    padding: 3.5em 0;

    // Align Sponsors
    .row {
        border-bottom: solid 1px transparent;
        margin-left: -12px;

        > * {
            float: left;
        }
    }

    h2 {
        padding: 20px;
    }
}

h3.prize {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 5px;
    text-align: left;
}

.sponsor,
.mlh {
    display: inline-block;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.sponsor {
    margin-bottom: 20px;
    margin-right: 20px;

    img {
        height: 100px;
        width: auto;
    }
}

.mlh img {
    height: 100px;
    width: 375px;
}

.mlh:hover,
.sponsor:hover {
    opacity: .75;
}
