
// --------
// VENUE
// --------

#venue {

    a > p {
        color: #ffffff
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }
}

#map {
    height: 250px;
    width: 100%;

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    p {
        font-size: 13px;
        margin: 0;
    }

    a {
        color: #555;
        font-size: 15px;
        text-decoration: underline;
    }

    #content {
        color: #555;
        padding: 15px;
    }
}

@media(min-width: 767px) {
    #map {
        height: 600px;
        margin-top: 45px;
    }
}
