<section id="team" class="container team text-center">
  <h2>HackNotts Team <span class="line"></span></h2>
  <div class="row">
    <div class="12u">
      <div class="teamMembers">
      {%- for member in site.data.team -%}
        <div class="teamMember">
          <img src="{{ member.image }}" alt="{{ member.name }}" class="teamMember">
          <div class="teamMemberDetails">
            <h3>{{member.name}}</h3>
            <p>{{member.title}}</p>
            {%- if member.email -%}
            <a href="mailto:{{ member.email }}" target="_blank">
              <i class="fas fa-envelope"></i>&nbsp;{{member.email}}
            </a>
            <br />
            {%- endif -%}

            {%- if member.linkedin -%}
            <a href="https://linkedin.com/in/{{ member.linkedin }}" class="linkedin" target="_blank">
              <i class="fab fa-linkedin"></i>&nbsp;/in/{{member.linkedin}}
            </a>
            <br />
            {%- endif -%}

            {%- if member.twitter -%}
            <a href="https://twitter.com/{{ member.twitter }}" class="twitter" target="_blank">
              <i class="fab fa-twitter"></i>&nbsp;@{{member.twitter}}
            </a>
            <br />
            {%- endif -%}
          </div>
        </div>
      {%- endfor %}
      </div>
    </div>
  </div>
</section>