@font-face {
    font-family: 'Mondwest';
    src: url('/fonts/PPMondwest-Regular.otf');
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .4em;
    color: #eee;
    font-family: 'Mondwest';
    font-size: 4em;
    text-align: center;
}

.countdown-unit {
    display: inline-flex;
    align-items: baseline;
    gap: .1em;
}

.countdown-unit > span {
    font-size: .3em;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-align: center;
    color: #eee;
    font-family: 'Mondwest';
    text-shadow: 2px 2px 2px #000;
}

h1 {
    font-size: 3em;
}

h2 {
    margin-top: 1.75em;
    margin-bottom: .5em;
}

h3 {
    font-size: 1.50em;
}

p{
    font-family: 'Mondwest';
    color: #eee;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

a {
    color: #019e18;
    text-shadow: 2px 2px 2px #000;
}

.feature {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature .feature-text {
    margin-top: 5rem;
    margin-bottom: 2.25rem;

}

.feature-text h1, .feature-text h2{
    margin-top: 0;
}


.logo {
    width: 58em;
    margin: 0 auto;
}

.footer{
    margin-top: 1em;
}

@media only screen and (max-width: 570px) {
    h1 {
        font-size: 1.875em;
    }
    
    h2 {
        margin-top: 0.472em;
        margin-bottom: .125em;
        font-size:  1.171875em;
    }
    
    h3 {
        font-size: 1.5625em;
    }

    .countdown{
        font-size: 3.25em;
    }
}
@media only screen and (max-width: 1000px) {
    .logo {
        width: 90%;
        margin: 0 auto;
    }
}
.footer a {
    color: #6FC7E6;
}
