@font-face {
    font-family: 'Mondwest';
    src: url('/fonts/PPMondwest-Regular.otf');
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



.mondwest {
    font-family: 'Mondwest';
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.countdown {
    color: #eee;
    font-family: 'Mondwest';
    font-size: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-align: center;
    color: #eee;
    font-family: 'Mondwest';
}

h1 {
    font-size: 3em;
}

h2 {
    margin-top: 1.75em;
    margin-bottom: .5em;
}

h3 {
    font-size: 1.50em;
}

.feature {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature .feature-text {
    margin-top: 5rem;
    margin-bottom: 2.25rem;

}

.feature-text h1, .feature-text h2{
    margin-top: 0;
}


.logo {
    width: 58em;
}