@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables.moudle.scss";

a {
  color: $hn-blue;

  &:hover {
    color: darken($color: $hn-blue, $amount: 30);
  }

  &.intro-link {
    text-decoration: underline;
  }
}

$enable-grid-classes: true;
html {
  background-color: $hn-grey;
}

body {
  background-color: $hn-grey;
  font-family: 'Encode Sans Expanded', sans-serif;
  color: white;
}

.intro {
  @media (max-width: 1280px), (max-aspect-ratio: 12/9) {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 80%,$hn-grey 100%), url("../../static/background/background-mobile.png"), $hn-grey;
    background-size: cover;

  }

  @media (min-width: 1280px) and (min-aspect-ratio: 12/9) {
    background:linear-gradient(to bottom, rgba(255,255,255,0) 80%, $hn-grey 100%),  url("../../static/background/background.png"), $hn-grey;
    background-size: cover;
  }
}

.main-text {
  color: white;
  font-size: 16px;
  border-radius: 25px;
  margin-bottom: 30px;
  text-align: justify;
}

.intro-text {
  color: white;
  font-size: 21px;
  font-weight: bold;
  border-radius: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.title-text {
  padding: .75em 0;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
}

.large-text {
  color: white;
  font-size:40px;
  border-radius: 25px;
  margin-bottom: 30px;
  text-align: center;
}


.intro-date {
  font-size: 95%;
  color: $hn-blue;
}

.tito-tickets-button {
  -webkit-appearance: none;
  border: none;
  background: inherit;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  color: #fff;
  font-weight: 700;
  padding: 8px 30px 10px;

  &:hover { 
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
  }
}

@media (min-width: 767px) {
  .header-text {
    font-size: 21px;
    padding: 0 150px;
  }
}
@media (max-width: 767px) {
  .hideimage-1 {
    display: none;
  }
}

@media (max-width: 960px) {
  .hideimage-2 {
    display: none;
  }
}

.bear-wrapper {
  display: flex;
  justify-content:space-between;
}

.bear {
  height: 10em;
  margin: 4px auto;
}

.sectionTitle {
  padding: 3em 0 2em 0;
}