//
// Based on Grayscale Bootstrap Theme (http://startbootstrap.com)
//

/* --------
UNSORTED
-------- */

.content-section {
    padding-top: 100px;
}

.content-section2 {
    padding-top: 100px;
}

/* HACKATHON section */
.sky {
    margin-bottom: 70px;
    margin-top: 70px;
}

.download-section {
    background: url('img/downloads-bg2.jpg') no-repeat center center scroll;
    background-color: #000;
    background-position: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 50px 0;
    width: 100%;
}

#map {
    height: 250px;
    width: 100%;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .content-section2 {
        padding-top: 150px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 600px;
        margin-top: 45px;
    }
}

.btn {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    background-color: transparent;
    border: 1px solid #219ab3;
    color: #219ab3;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #219ab3;
    border: 1px solid #219ab3;
    color: #000;
    outline: 0;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}



::-moz-selection {
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
    text-shadow: none;
}

::selection {
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
    text-shadow: none;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

span.line:after {
    background: #59bb1a;
    color: transparent;
    content: ' |';
    display: inline-block;
    height: 100%;
    width: 10px;
}

.green {
    color: #59bb1a;
}

.sponsor,
.mlh {
    display: inline-block;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.sponsor {
    margin-bottom: 20px;
    margin-right: 20px;
}

.sponsor img {
    height: 100px;
    width: 300px;
}

.mlh img {
    height: 100px;
    width: 375px;
}

.mlh:hover, .sponsor:hover {
    opacity: .75;
}

hr.hr-line {
    background: #59bb1a;
    border: 0;
    height: 1px;
    margin-bottom: 80px;
    margin-top: 70px;
}

h3.faq {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 5px;
    text-align: left;
}

p.faq {
    font-size: 15px;
    text-align: left;
}

table {
    margin: 0 auto;
    width: 90%;
}

table tr th {
    background: #59bb1a;
    color: #000;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 50%;
}

table tr td {
    font-size: 20px;
    padding: 15px 10px;
    text-align: left;
}

table tr td span {
    display: inline-block;
    min-width: 80px;
    text-align: left;
}

table tr:nth-child(odd) td:first-child,
table tr:nth-child(odd) td:last-child {
    background: #333;
}

.clear {
    clear: both;
}

