//
// Based on Grayscale Bootstrap Theme (http://startbootstrap.com)
//



/* --------
FAQ Section
-------- */

.faq-section {
    background: url('assets/img/downloads-bg2.jpg') no-repeat center center scroll;
    background-color: #000;
    background-position: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 50px 0;
    width: 100%;
}


h3.faq {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 5px;
    text-align: left;
}


p.faq {
    font-size: 15px;
    text-align: left;
}





/* --------
SPONSOR
-------- */

h3.prize {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 5px;
    text-align: left;
}

.sponsor,
.mlh {
    display: inline-block;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.sponsor {
    margin-bottom: 20px;
    margin-right: 20px;

    img {
        height: 100px;
        width: auto;
    }
}

.mlh img {
    height: 100px;
    width: 375px;
}

.mlh:hover,
.sponsor:hover {
    opacity: .75;
}



/* --------
VENUE
-------- */

#map {
    height: 250px;
    width: 100%;

    h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    p {
        font-size: 11px;
        margin: 0;
    }

    a {
        font-size: 15px;
        text-decoration: underline;
    }

    #content {
        color: #555;
        padding: 15px;
    }
}




/* --------
MOBILE
-------- */

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .content-section2 {
        padding-top: 150px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 600px;
        margin-top: 45px;
    }
}






/* --------
UNSORTED
-------- */

.content-section,
.content-section2 {
    padding-top: 100px;
}

::selection,
::-moz-selection {
    background: rgba(255, 255, 255, .2);
    text-shadow: none;
}

img::selection,
img::-moz-selection {
    background: 0 0;
}

span.line:after {
    background: #59bb1a;
    color: transparent;
    content: ' |';
    display: inline-block;
    height: 100%;
    width: 10px;
}

