.row {
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 0 0px !important;
    margin-top: 1rem !important;
}
  
  /* Create two equal columns that sits next to each other */
.column {
    float: left !important;
    width: 32% !important;
    padding: 5px !important;
}
  
.column img {
    margin-top: 10px !important; 
    vertical-align: middle !important;
}

@media screen and (max-width: 590px) {
    .column {
        flex: 100% !important;
        padding: 0 0px !important;
    }
}