html {
    background-color: #1a1a1a;
    font-size: 14pt;
}

* {
    color: #A9A9A9;
    font-family: 'ABC Marist', serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Code Pro', monospace;
    color: #019E18;
    margin-bottom: 10px;
}

h1#timer {
    color: #A9A9A9;
}

p {
    line-height: 1.4em;
    margin-top: 12px;
    font-weight: 500;
}

span.logo {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
}

span.logo h1 {
    font-size: 75px;
    margin: 0;
}