div.wrapper {
    width: 400px;
    margin: auto;
    left: 0;
    right: 0;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    font-size: 25pt;
    padding-bottom: 20px;
}

p, a {
    font-family: 'Charis SIL', serif;
    font-weight: 400;
}

footer, a#footer {
    color: #666;
}

a {
    color: #1A1A1A;
    text-decoration: underline;
}

img {
    width: 350px;
}

@media screen and (max-width: 500px) {
    img {
        width: 100%;
    }

    div.wrapper {
        width: 100%;
        overflow: hidden;
        margin: auto;
        left: 0;
        right: 0;
    }
}