body {
    background-color: #1A1A1A;
}

h1 {
    color: #1BBB4F;
    font-weight: bold;
}

h2 {
    color: #1BBB4F;
    font-weight: bold;
}

h3 {
    color: #1BBB4F;
    font-weight: bold;
}

p {
    color: #A0A0A0;
}