table#schedule {
    width: min(400px, 100%);
    margin: auto;
    left: 0;
    right: 0;
}

table#schedule td {
    font-size: 16pt;
}

table#schedule td.heading {
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-size: 25pt;
    color: #A0AEDA;
    padding-top: 10px;
}

table#schedule td.heading sup {
    color: #A0AEDA;
}

table#schedule td.time {
    text-align: right;
    padding-right: 10px;
    color: #A0AEDA;
}

table#schedule td.bold {
    font-weight: bold;
}
