---
import LetterGlitch from "./LetterGlitch"
import Countdown from "../components/Countdown"
---
<div class="feature">

  <Countdown targetDate="2025-10-31" client:only="react"/>
  <h3>Until</h3>

  <img class="logo" src="hn25logo.png" alt="" srcset="">

  <div class="feature-text">
    <h1 class="text-">HackNotts is returning <br> on 25th October 2025!</h1>
    <h2>We are preparing for Nottingham's <br> biggest ever hackathon so stay tuned :D</h2>  
  </div>
  
  <tito-register-interest event="hacksocnottingham/hacknotts25"></tito-register-interest>
</div>

<div style={{ width: '100%', height: '100vh', position: 'fixed', top:'0', zIndex:'-1' }}>  
  <LetterGlitch
    glitchSpeed={375}
    centerVignette={true}
    outerVignette={true}
    smooth={true}
    client:only="react"
  />
</div>
