<header class="intro">
  <div class="intro-body">
    <div class="container">
      <img
        alt="University of Nottingham Jubilee Campus"
        id="cover-image"
        src="/assets/img/logo.png"
        alt="HackNotts"
      />
      <p class="intro-text">
        A 24 hour
        <a
          target="_blank"
          href="https://en.wikipedia.org/wiki/Hackathon"
          rel="noopener noreferrer"
          >Hackathon</a
        >
        from the University of Nottingham, brought to you by
        <a
          target="_blank"
          href="http://www.hacksocnotts.co.uk"
          rel="noopener noreferrer"
          >HackSoc</a
        >.
      </p>
      <p class="intro-text intro-date">
        November 28<sup>th</sup> and 29<sup>th</sup> 2020
      </p>
      {%- comment -%}
      <span class="intro-venue page-scroll" href="#venue"
        >University of Nottingham, UK</span
      >
      <p class="intro-buttons">
        <a href="#description" class="page-scroll btn btn-success"
          >scroll down</a
        >
        <a
          href="https://tickets.hacknotts.com"
          class="btn btn-success"
          target="_blank"
        >
          Pre-register
        </a>
      </p>
      {%- endcomment -%}
    </div>
  </div>
</header>
