    <section id="description" class="text-center">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Build incredible projects in 24 hours <span class="line"></span></h2>
                <p>HackNotts is a 24 hour Hackathon in Nottingham. Students will team up to learn about tech and create
                    cool stuff.</p>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>HackNotts 2019 is coming <span class="line"></span></h2>
                <p>Previous HackNotts' have been a huge success!</p>
                <div class="photoset-grid-custom" style="visibility: hidden">
                    <img alt="Photo from HackNotts 2018" src="/assets/img/hacknotts_2018_0.JPG"
                        data-highres="/assets/img/hacknotts_2018_0.JPG">
                    <img alt="Photo from HackNotts 2015" src="/assets/img/hacknotts_2015_2.jpg"
                        data-highres="/assets/img/hacknotts_2015_2.jpg">
                    <img alt="Photo from HackNotts 2016" src="/assets/img/hacknotts_2016_1.jpg"
                        data-highres="/assets/img/hacknotts_2016_1.jpg">
                    <img alt="Photo from HackNotts 2017" src="/assets/img/hacknotts_2017_0.jpg"
                        data-highres="/assets/img/hacknotts_2017_0.jpg">
                    <img alt="Photo from HackNotts 2018" src="/assets/img/hacknotts_2018_1.jpg"
                        data-highres="/assets/img/hacknotts_2018_1.jpg">
                </div>
                <!-- <p><a href="https://www.facebook.com/pg/MajorLeagueHacking/photos/?tab=album&album_id=1294754350575240"
                        target="_blank">See more photos of past HackNotts'</a></p> -->
            </div>
        </div>
    </section>