    <!-- <section id="faq" class="cta text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Frequently Asked Questions</h2>
                    <p>Before you register please read the <a href="//static.mlh.io/docs/mlh-code-of-conduct.pdf"
                            target="_blank">Code Of Conduct</a> and read the FAQ below.</p><a href="https://docs.google.com/document/d/1dYyomqJ5nyMSxkhmOqzNnWQLffg8U9zBsploR0q4GLY"
                        class="btn btn-success" target="_blank">FAQ</a><br>
                </div>
            </div>
        </div>
    </section> -->