        <div class="sponsors">
            <h2>Partners <span class="line"></span></h2>
            <div class="row no-collapse">
            {%- assign i = 0 -%}
            {%- assign l = site.data.partners.size -%}
            {%- assign overhang = l | modulo: 3 -%}
            {%- assign lastrowstart = l | minus: overhang -%}
            {%- comment -%}If the overhang is 0 (the number of sponsors is a multiple of 3), then the lastrowstart variable will
            equal the number of sponsors. As a result, it won't try to do any specific formatting for having an overhang{%- endcomment -%}
            {%- for partner in site.data.partners -%}
                {%- if i >= lastrowstart -%}
                    {%- if overhang == 1 %}
                <div class="push_4u 4u">
                    <a href="{{ partner.url }}" class="image fit" target="_blank">
                        <img src="{{ partner.image }}" alt="{{ partner.alttext }}">
                    </a>
                </div>
                    {%- elsif overhang == 2 %}
                <div class="pushlow_4u 4u">
                    <a href="{{ partner.url }}" class="image fit" target="_blank">
                        <img src="{{ partner.image }}" alt="{{ partner.alttext }}">
                    </a>
                </div>
                    {%- endif %}
                {%- else %}
                <div class="4u">
                    <a href="{{ partner.url }}" class="image fit" target="_blank">
                        <img src="{{ partner.image }}" alt="{{ partner.alttext }}">
                    </a>
                </div>
                {%- endif -%}
                {%- assign i = i | plus: 1 -%}
            {%- endfor %}
            </div>
        </div>