  <!-- Prizes Section -->
  <section id="prizes" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Prizes <span class="line"></span></h2>

        <h3 class="prize">Capital One <span class="line"></span> Best use of UX <span class="line"></span> UX Books</h3>

        <h3 class="prize">Capital One <span class="line"></span> Best Nottingham themed Lego build <span class="line"></span> More lego!</h3>

        <h3 class="prize">Bloomberg <span class="line"></span> Best use of Bloomberg API <span class="line"></span> Awesome mini quadcopters</h3>

        <h3 class="prize">Braintree <span class="line"></span> Best use of Braintree <span class="line"></span> Lego! All the lego!</h3>

        <h3 class="prize">Braintree <span class="line"></span> Best ASCII art  <span class="line"></span> Leap Motion</h3>

        <h3 class="prize">Sendgrid <span class="line"></span> Best use of Sendgrid <span class="line"></span> Spheros!!!</h3>

        <h3 class="prize">Information Services <span class="line"></span> Best app to improve student exprience <span class="line"></span> Cool books</h3>

        <h3 class="prize">Yo <span class="line"></span> Just using the Yo API <span class="line"></span> Yo tshirt</h3>

        <h3 class="prize">Twilio <span class="line"></span> Just using Twilio API <span class="line"></span> Small prize (TBC)</h3>
      </div>
    </div>
  </section>
  <div class="clear"></div>
