    <section id="schedule" class="schedule text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hackathon Schedule <span class="line"></span></h2>
                <p>Please bear in mind that it’s a hackathon schedule and things never go to plan, so please take the
                    end time with a pinch of salt and allow for a bit of extra time when arranging travel ¯\_(ツ)_/¯</p>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 15%">Time</th>
                            <th>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for item in site.data.schedule %}
                        <tr>
                            <td class="time">{{item.time}}</td>
                            <td class="activity">{{item.activity}}</td>
                        </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>