  <!-- Sponsors Section -->
    <section id="sponsors" class="container sponsors text-center">
      <div class="sponsors">
        <h2>Sponsors <span class="line"></span></h2>
        <div class="row">
            <div class="12u">
                <div class="row no-collapse">
                    <div class="4u"><a href="https://www.mhr.co.uk/careers/" class="image fit" target="_blank"><img src="/assets/img/sponsors/mhr.png" alt=""></a></div>
                    <div class="4u"><a href="http://www.capitalonecareers.co.uk/earlycareers" class="image fit" target="_blank"><img src="/assets/img/sponsors/capitalone.png" alt=""></a></div>
                    <div class="4u"><a href="https://jobs.github.com/companies/GitHub" class="image fit" target="_blank"><img src="/assets/img/sponsors/github.png" alt=""></a></div>
                </div>
                 <div class="row no-collapse">
                    <div class="pushlow_4u 4u"><a href="https://www.bloomberg.com/europe" class="image fit" target="_blank"><img src="/assets/img/sponsors/bloomberg.png" alt=""></a></div>
                    <div class="pushlow_4u 4u"><a href="https://www.esendex.co.uk/" class="image fit" target="_blank"><img src="/assets/img/sponsors/esendex.png" alt=""></a></div>
                </div>
            </div>
        </div>
      </div>
      <div class="sponsors">
        <h4>If you are interested in sponsoring HackNotts 2017, get in touch with us at <a href="mailto:sponsorship@hacknotts.com">sponsorship@hacknotts.com</a></h4>
      </div>
        <div class="sponsors">
          <h2>Partners <span class="line"></span></h2>
          <div class="row no-collapse">
              <div class="push_4u 4u"><a href="//mlh.io" class="image fit" target="_blank"><img src="/assets/img/sponsors/mlhio.png" alt=""></a></div>
          </div>
      </div>
    </section>
