    <section id="sponsors" class="container sponsors text-center">
        <div class="sponsors">
            <h2>Sponsors <span class="line"></span></h2>
            <div class="row">
                <div class="12u">
                    <div class="row no-collapse">
                    {%- assign i = 0 -%}
                    {%- assign l = site.data.sponsors.size -%}
                    {%- assign overhang = l | modulo: 3 -%}
                    {%- assign lastrowstart = l | minus: overhang -%}
                    {%- comment -%}If the overhang is 0 (the number of sponsors is a multiple of 3), then the lastrowstart variable will
                    equal the number of sponsors. As a result, it won't try to do any specific formatting for having an overhang{%- endcomment -%}
                    {%- for sponsor in site.data.sponsors -%}
                        {%- if i >= lastrowstart -%}
                            {%- if overhang == 1 %}
                        <div class="push_4u 4u">
                            <a href="{{ sponsor.url }}" class="image fit" target="_blank">
                                <img src="{{ sponsor.image }}" alt="{{ sponsor.alttext }}">
                            </a>
                        </div>
                            {%- elsif overhang == 2 -%}
                        <div class="pushlow_4u 4u">
                            <a href="{{ sponsor.url }}" class="image fit" target="_blank">
                                <img src="{{ sponsor.image }}" alt="{{ sponsor.alttext }}">
                            </a>
                        </div>
                            {% endif %}
                        {%- else %}
                        <div class="4u">
                            <a href="{{ sponsor.url }}" class="image fit" target="_blank">
                                <img src="{{ sponsor.image }}" alt="{{ sponsor.alttext }}">
                            </a>
                        </div>
                        {%- endif -%}
                        {%- assign i = i | plus: 1 -%}
                    {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="sponsors">
            <h4>If you are interested in sponsoring HackNotts 2018, get in touch with us at <a href="mailto:sponsorship@hacknotts.com">sponsorship@hacknotts.com</a></h4>
        </div>
        <div class="sponsors">
            <h2>Partners <span class="line"></span></h2>
            <div class="row no-collapse">
                <div class="push_4u 4u"><a href="//mlh.io" class="image fit" target="_blank"><img alt="Major League Hacking Logo" src="/assets/img/sponsors/mlhio.png"
                            alt=""></a></div>
            </div>
        </div>
    </section>