html {
    font-size: 13pt;
}

body {
    background-color: #1a1a1a;
}

h1, h2, h3 {
    margin-bottom: 0;
}

h1 {
    color: #1BBB4F;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 2em;
}

h2 {
    color: #1BBB4F;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 1.5em;
    padding-top: 12px;
    padding-bottom: 0;
}

h3 {
    color: #1BBB4F;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 25px;
}

p, pre, ul, figcaption {
    color: #A0A0A0;
    font-family: 'Source Code Pro', serif;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0;
    margin: 10;
}

pre {
    color: #1BBB4F;
    font-weight: 900;
}

figcaption {
    text-align: center;
}

p#term {
    color: #727272;
    margin: 0;
}

p#term::before {
    content: "guest@HackNotts:~/2023$ ";
    position: inherit;
    color: #117031;
}

ul#nav {
    padding: 0;
    padding: 0;
    margin: 0;
}

ul#nav li {
    display: inline;
}

ul#nav a {
    font-family: 'Source Code Pro', monospace;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

ul#nav a.active {
    text-decoration: underline;
}

h1#nav {
    margin: 0;
}

header {
    padding-top: 50px;
    padding-bottom: 0;
}

footer {
    padding-top: 20px;
}

b {
    color: #1BBB4F;
    font-weight: 700;
}

a {
    color: #1BBB9F;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img#footer, img#about, img#sponsor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img#about {
    width: 55%;
}

img#sponsor {
    width: 60%;
}

span.big-title {
    font-size: 2em;
}

span.green {
    color: #1BBB4F;
}

span.grey {
    color: #A0A0A0;
    font-weight: 400;
}

span.red {
    color: #BB1B37;
}

span.pink {
    color: #BB1B87;
    font-weight: 400;
}

span.blue {
    color: #1BBB9F;
    font-weight: 400;
}

.redrec {
    height: 30px;
    width: 45px;
    background-color: #BB1B37;
    display: inline-block;
}

.pinkrec {
    height: 30px;
    width: 45px;
    background-color: #BB1B87;
    display: inline-block;
}

.bluerec {
    height: 30px;
    width: 45px;
    background-color: #1BBB9F;
    display: inline-block;
}

.greenrec {
    height: 30px;
    width: 45px;
    background-color: #1BBB4F;
    display: inline-block;
}

.greyrec {
    height: 30px;
    width: 45px;
    background-color: #A0A0A0;
    display: inline-block;
}

div#neofetch {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-flex;
}

div.wrapper {
    width: 900px;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    text-overflow: clip;
    left: 0;
    right: 0;
}

img#main {
    height: 390px;
}

div#castle {
    display: inline-flex;
}

@media screen and (max-width: 500px) {
    div.wrapper {
        width: 500px;
        max-width: 400px;
        overflow: hidden;
        margin: auto;
        text-overflow: clip;
        left: 0;
        right: 0;
    }
    img#main {
        height: 250px;
    }
    img#footer {
        width: 75%;
    }
    img#about {
        width: 100%;
    }
    img#sponsor {
        width: 100%;
    }
    div#castle {
        display: none;
    }
}
